.container-modal-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-detail {
  width: 900px;
  height: 600px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  position: static;
  overflow-y: scroll;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(255, 50, 50);
  border-radius: 5px;
  color: #fff;
}

.container-infor-cus {
  /* background-color: red; */
  padding: 20px;
}
/* 
.customer-name,
.address {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
} */

.buy-product {
  padding-left: 20px;
}
