/* home */
@media screen and (max-width: 768px) {
  /* ảnh mỗi danh mục phụ tùng ở trang chủ */
  .container-home {
    gap: 70px;
  }
}

/* home */
.group-parts, .part-for-motor {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  gap: 20px;
  justify-content: space-around;
}
.container-parts-replace, .propose-spare-part {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  /* grid-template-rows: ; */
  gap: 20px;
}

.container-home{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(240, 240, 240);
}

.home {
  margin-top: 70px;
}
.home-brand-parts,
.home-parts-type,
.home-part-for-motor,
.home-replace-parts,
.container-propose-spare-part {
  background-color: rgb(255, 255, 255);
}
.btn-see-more{
    background-color: #fff;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 255);
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}

.see-more-home:hover{
  background-color: rgb(223, 219, 219);
  border-radius: 10px;
}
.see-more-home:hover .btn-see-more{
  background-color: rgb(223, 219, 219);
  color: red;
  border-radius: 10px;
}