@media (max-width: 576px) {
    /* nav logo */
    .logo {
      width: 50px;
    }
  }
  
  .nav-bar,
  .nav-left,
  .nav-right,
  .nav-menu-left,
  .nav-menu-right {
    display: flex;
  }
  .nav-bar {
    position: fixed;
    background-color: white;
    padding: 0px 10px;
    width: 100%;
    z-index: 2000;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
  }
  
  
  .nav-logo {
    width: 78px;
    height: 100%;
    margin-right: 10px;
  }
  .logo {
    width: 78px;
  }
  
  .nav-right {
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    margin-right: 10px;
  }
  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-items button {
    font-weight: 500;
    color: black;
    padding: 15px 10px;
    background-color: rgba(146, 146, 146, 0);
    border: none;
    white-space: nowrap;
  }
  
  .nav-catalog,
  .nav-category {
    position: relative;
  }

  .nav-category:hover .nav-hidden-items-category,
  .nav-catalog-items-container:hover .nav-honda,
  .nav-catalog-items-container:hover .nav-yamaha {
    display: grid;
  }

  .nav-catalog:hover .nav-hidden-items-catalog{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .nav-hidden-items-catalog,
  .nav-hidden-items-category,
  .nav-honda,
  .nav-yamaha {
    position: absolute;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    top: 54px;
    box-shadow: 1px 1px 15px rgb(163, 163, 163);
    border-radius: 5px;
    background-color: white;
  }
  .nav-hidden-items-category {
    width: 500px;
  }
  .nav-catagory-items {
    display: flex;
    align-items: center;
  }
  .nav-honda,
  .nav-yamaha {
    top: 33px;
  }
  .nav-catalog-items,
  .nav-catagory-items,
  .nav-honda-items,
  .nav-yamaha-items {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 500;
  }
  
  .nav-catalog-items:hover,
  .nav-catagory-items:hover,
  .nav-honda-items:hover,
  .nav-yamaha-items:hover,
  .nav-items button:hover {
    background-color: rgb(230, 226, 226);
    border-radius: 5px;
    color: rgb(32, 32, 201);
  }
  
  .nav-hiden-sub-items-catalog {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .nav-catalog-items-container {
    position: relative;
  }
  
  .nav-search {
    width: 60%;
  }
  .nav-search button,
  #nav-search-input {
    height: 45%;
  }
  .nav-search button {
    background-color: rgb(223, 220, 220);
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
  }
  
  .nav-search button:hover {
    background-color: rgb(182, 180, 180);
    cursor: pointer;
  }
  
  #nav-search-input {
    border-radius: 20px 0 0 20px;
    border: 1px solid rgb(199, 197, 197);
    padding: 0px 15px;
    max-width: 500px;
  }
  
  #nav-search-input:focus {
    border: 1.5px solid rgb(21, 21, 21);
    box-shadow: none;
  }
  
  .button-search {
    border-radius: 0 20px 20px 0;
    outline: none;
    border: 1px solid rgb(199, 197, 197) !important;
  }
  
  /* in navbar */
  .nav-cart:hover,
  .account {
    cursor: pointer;
  }
  
  .account {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .show-login-register {
    position: absolute;
    bottom: -75px;
    transform: translateX(-80%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(102, 101, 101);
    background-color: white;
  }
  
  .link-to-signup,
  .link-to-login,
  .link-to-logout,
  .link-to-infor-acc {
    text-decoration: none;
    white-space: nowrap;
    color: black;
  }
  .link-to-signup:hover,
  .link-to-login:hover,
  .link-to-logout:hover,
  .link-to-infor-acc:hover {
    color: rgb(32, 32, 201);
  }

  
/* reponsive nav */
@media screen and (max-width: 768px) {
  .nav-items button {
    font-size: small;
  }
   /* logo ở thanh nav */
  .logo {
    width: 50px;
  }

  #nav-search-input::placeholder,
  .link-to-signup h6,
  .link-to-login h6 {
    font-size: 14px;
  }
  .nav-catalog-items,.nav-catagory-items,.nav-honda-items,.nav-yamaha-items {
    font-size: small;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav-items button {
    font-size: 10px;
  }
  .search-icon{
    font-size: 13px;
  }
  .nav-items button {
    white-space: wrap;
  }
  .icon-user-cart{
    width: 18px;
  }
}


/* responsive in mobile nav */
@media screen and (max-width:575px){
  .nav-left{
    display: none;
  }
  .nav-right{
    display: none;
  }
  .nav-in-mobile, .header-toggle{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    z-index: 5000;
  }

  .nav-bar{
    padding: 0px;
  }
  .logo-mobi{
    width: 60px;
  }
  .nav-search-mobi{
    width: 65%;
  }
  .nav-search-mobi input{
    border: 1px solid rgb(199, 197, 197);
    border-radius: 10px 0px 0px 10px;
    width: 80%;
    /* justify-content: flex-end; */
  }
  .btn-search-mobi{
    font-size: 16px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 0 10px 10px 0;
    width: 20%;
  }
  .btn-toggle{
    background-color: white;
    border: 1px solid rgb(213, 212, 212);
    border-radius: 8px;
  } 
  .show-toggle{
    position: absolute;;
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 100px; */
    background-color: white;
    transition: all 0.5s ease-in-out; 
    transform: translateY(-100%);
  }
  .nav-mobi-brand-parts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .nav-mobi-type-parts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
  }
  .nav-mobi-brand-parts h6, .nav-mobi-type-parts h6{
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    padding: 5px 0 5px 0;
  }

}

@media screen and (max-width: 291px) {
  .icon-search-mobi{
    width: 14px;
  }
  .nav-search-mobi input{
    width: 70%;
  }
  .btn-search-mobi{
    width: 30%;
  }
}

@media screen and (min-width: 576px){
  .nav-in-mobile{
    display: none;
  }

}

.dropdown-right-items, .nav-catagory-items{
  cursor: pointer;
}

