/* prodcut detail page */

/* .product-detail-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(240, 240, 240);
}
.product-detail {
  margin-top: 70px;
} */


/* brand parts */
/* .image-brand {
  width: 200px;
}
.image-brand.nav-cart:hover {
  cursor: pointer;
} */

/* SldieShow type */
/* .carousel-control-prev,
.carousel-control-next {
  width: 10%;
} */

/* brand-parts */
/* .react-multiple-carousel__arrow--right {
  right: calc(3% + 1px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px) !important;
} */











/* CartItemsGroupParts */
/* .container-image-group-parts {
  transition: all 0.5s ease-in-out;
}
.image-group-parts{
  width: 100%;
  height: 110px;
}
.group-parts-items:hover .container-image-group-parts {
  transform: translateY(-10px);
}

.group-parts-items:hover {
  box-shadow: 5px 0px 10px rgb(177, 177, 177);
  cursor: pointer;
}
.group-parts-items {
  padding-top: 20px;
  box-shadow: 0px 0px 10px rgb(207, 206, 206);
} */



/* CartItems */
/* .cart-items{
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  padding: 10px;
}

.cart-items:hover{
  cursor: pointer;
} */

/* CartItemsMainPage */
/* .image-cart-items{
  width: 100%;
  height: 230px;
  border-radius: 10px;
  margin: 0px;
}
.cart-icon-mainpage{
  color: #fc5939;
}
.cart-icon-mainpage:hover{
  color: rgb(255, 127, 127);
}
.price-cart-items{
  display: flex;
  gap: 20%;
}
.price-product{
  color: red;
} */


/* ProductDetail */
/* .product-detail{
  display: flex;
  gap: 20px;
}
.product-detail-right, .product-detail-left{
  border-radius: 10px;
}
.product-detail-left{
  width: 70%;
}
.product-detail-right{
  width: 30%;
}
.use-for-motor-items{
  background-color: #fcf8ea;
  border: 1px solid #fbeba0;
}
.general-description {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.product-detail-overview,.product-detail-description,.product-detail-container-evaluate{
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.product-image, .product-detail-infor-container{
  width: 50%;
}
.price-product-detail{
  font-size: large;
  text-decoration: line-through;
  color: rgb(163, 163, 163);
}
.discount-price-product-detail{
  font-size: x-large;
  font-weight: 600;
  color: red;
}
.general-description-price .d-inline{
  font-size: large;
  font-weight: 600;
}
.product-detail-description-content p, .product-detail-right-name h4{
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0px;
}
.product-detail-right{
  height: 340px;
  position: sticky;
  top: 100px;
  background-color: white;
} */


/* QuanlityInput */
/* .quan-border{
  border: 1px solid rgb(202, 202, 202);
} */